# Created by https://www.toptal.com/developers/gitignore/api/gis
# Edit at https://www.toptal.com/developers/gitignore?templates=gis

### GIS ###
*.gpx
*.kml

# End of https://www.toptal.com/developers/gitignore/api/gis